body {
    background-color: #73000a;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    color:black
}

.projects { 
    display:flex; 
    flex-wrap:wrap; 
} 
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: white; /* pick a color */
    border-radius: 25%;
}
